{% extends "base.html" %}

{% block content %}
<div class="container pull-right">
    <div class="d-flex justify-content-end">
        {% if current_user.is_authenticated %}
        <button type="button" onclick="window.location.href = '/profile?last_page={{page}}';" class="btn btn-primary">
            {{current_user.login}}
        </button>
        {% else %}
        <button type="button" onclick="window.location.href = '/profile?last_page={{page}}';" class="btn btn-primary">
            Войти
        </button>
        {% endif %}

    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm posts">

                {% for item in posts['posts'] %}
                <h6>{{item["author_login"]}}</h6>
                <img src="{{item['author_avatar']}}" alt="здесь должна была быть картинка, но не нашлась"
                     class="author-avatar">

                <h5 class="title">{{item["title"]}}</h5>
                {% if item['has_image'] %}
                <img src="{{item['img']}}" alt="здесь должна была быть картинка, но не нашлась" width="5000"
                     class="post-im">
                {% else %}
                {% endif %}

                <div class="row underpost">
                    <div class="col-sm">
                        {% if item["liked"] %}
                        <button id="{{item['id']}}" onclick="Like()" type="button" class="btn btn-info react-btn">
                            Круто
                        </button>
                        {% else %}
                        <button id="{{item['id']}}" onclick="Like()" type="button" class="btn btn-primary react-btn">
                            Круто
                        </button>
                        {% endif %}
                    </div>
                    <script>
                    function Like() {
                        var button = event.target;
                        var element_id = button.id;
                        index = element_id

                        fetch(`/like/${index}`)
                            .then(function(response) {
                                return response.text();

                            }).then(function(text) {
                                document.getElementById("like-count-" + index).innerText = text;
                            });
                }
                    </script>
                    <div class="col-sm" align="center">
                        <h6> <a id="like-count-{{item['id']}}">{{item["likes"]}}</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" fill="#ff038b" class="bi bi-heart"
                             viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                        </svg>
                        </h6>

                    </div>
                </div>
                {% endfor %}
                <br>
                <div align="center">
                    <div class="btn-group choice-page">
                        {% if page <= 5 %}
                        {% for index in range(9) %}
                        {% if page == loop.index %}
                        <button class="btn btn-info choice-page-btn"> {{page}}</button>
                        {% else %}
                        {% set a = loop.index %}
                        <button onclick="window.location.href = '/index?page={{a}}';"
                                class="btn btn-primary choice-page-btn"> {{a}}
                        </button>
                        {% endif %}
                        {% endfor %}

                        {% else %}
                        {% for index in range(9) %}
                        {% set a = loop.index - 5 + page %}
                        {% if page == a %}
                        <button class="btn btn-info choice-page-btn"> {{a}}</button>
                        {% else %}
                        <button onclick="window.location.href = '/index?page={{a}}';"
                                class="btn btn-primary choice-page-btn"> {{a}}
                        </button>
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                    </div>
                    <br>
                    <a>&#8195</a><br>
                    {% if page != 1 %}
                    <button onclick="window.location.href = '/index?page={{page - 1}}';"
                            class="btn btn-primary next-prev">Предыдущая
                    </button>
                    {% endif %}
                    <button onclick="window.location.href = '/index?page={{page + 1}}';"
                            class="btn btn-primary next-prev">Следующая
                    </button>

                </div>
                <br>
                <a>&#8195</a>

            </div>
            <div class="col-sm">

            </div>

        </div>
        <br>
        <a>&#8195</a><br>
        <a>&#8195</a><br>
    </div>
</div>
{% endblock %}