{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-md">
            <div>
                <h3>{{current_user.login}}</h3>
                <img src="{{avatar}}" alt="Тут должна быть аватарка" width="200">
                <form enctype="multipart/form-data" method="post">
                    <p><input type="file" name="avatar">
                        <input type="submit" value="Отправить"></p>
                </form>
                <button type="button" onclick="window.location.href = '/logout';"
                        class="btn btn-danger">
                    Выйти
                </button>
            </div>
        </div>
        <div class="col-sm">
            <div class="d-flex justify-content-end">
                <button type="button" onclick="window.location.href = '/main?page={{last_page}}';"
                        class="btn btn-primary">
                    На главную
                </button>
            </div>

        </div>

    </div>
    <br>
    <a>&#8195</a><br>
    <a>&#8195</a><br>
</div>
</div>
{% endblock %}